### 📚 [{repo}](https://github.com/{author}/{work}/tree/{branch}/traffic-{repo})

### 📷 Badge of {repo} without link

![views](https://raw.githubusercontent.com/{author}/{work}/{branch}/traffic-{repo}/views.svg)
![clones](https://raw.githubusercontent.com/{author}/{work}/{branch}/traffic-{repo}/clones.svg)

```md
![views](https://raw.githubusercontent.com/{author}/{work}/{branch}/traffic-{repo}/views.svg)
![clones](https://raw.githubusercontent.com/{author}/{work}/{branch}/traffic-{repo}/clones.svg)
```

### 🔗 Badge of {repo} with link

[![views](https://raw.githubusercontent.com/{author}/{work}/{branch}/traffic-{repo}/views.svg)](https://github.com/{author}/{work}/tree/{branch}#-{repo})
[![clones](https://raw.githubusercontent.com/{author}/{work}/{branch}/traffic-{repo}/clones.svg)](https://github.com/{author}/{work}/tree/{branch}#-{repo})

```md
[![views](https://raw.githubusercontent.com/{author}/{work}/{branch}/traffic-{repo}/views.svg)](https://github.com/{author}/{work}/tree/{branch}#-{repo})
[![clones](https://raw.githubusercontent.com/{author}/{work}/{branch}/traffic-{repo}/clones.svg)](https://github.com/{author}/{work}/tree/{branch}#-{repo})
```
