## 📚 [{repo}](https://github.com/{author}/{work}/tree/{branch}/traffic-{repo})

### 📷 Badge of {repo} without link

![views](https://raw.githubusercontent.com/{author}/{work}/{branch}/traffic-{repo}/views.svg)
![views per week](https://raw.githubusercontent.com/{author}/{work}/{branch}/traffic-{repo}/views_per_week.svg)
![clones](https://raw.githubusercontent.com/{author}/{work}/{branch}/traffic-{repo}/clones.svg)
![clones per week](https://raw.githubusercontent.com/{author}/{work}/{branch}/traffic-{repo}/clones_per_week.svg)

```markdown
![views](https://raw.githubusercontent.com/{author}/{work}/{branch}/traffic-{repo}/views.svg)
![views per week](https://raw.githubusercontent.com/{author}/{work}/{branch}/traffic-{repo}/views_per_week.svg)
![clones](https://raw.githubusercontent.com/{author}/{work}/{branch}/traffic-{repo}/clones.svg)
![clones per week](https://raw.githubusercontent.com/{author}/{work}/{branch}/traffic-{repo}/clones_per_week.svg)
```

### 🔗 Badge of {repo} with link

[![views](https://raw.githubusercontent.com/{author}/{work}/{branch}/traffic-{repo}/views.svg)](https://github.com/{author}/{work}/tree/{branch}#-{repo})
[![views per week](https://raw.githubusercontent.com/{author}/{work}/{branch}/traffic-{repo}/views_per_week.svg)](https://github.com/{author}/{work}/tree/{branch}#-{repo})
[![clones](https://raw.githubusercontent.com/{author}/{work}/{branch}/traffic-{repo}/clones.svg)](https://github.com/{author}/{work}/tree/{branch}#-{repo})
[![clones per week](https://raw.githubusercontent.com/{author}/{work}/{branch}/traffic-{repo}/clones_per_week.svg)](https://github.com/{author}/{work}/tree/{branch}#-{repo})

```markdown
[![views](https://raw.githubusercontent.com/{author}/{work}/{branch}/traffic-{repo}/views.svg)](https://github.com/{author}/{work}/tree/{branch}#-{repo})
[![views per week](https://raw.githubusercontent.com/{author}/{work}/{branch}/traffic-{repo}/views_per_week.svg)](https://github.com/{author}/{work}/tree/{branch}#-{repo})
[![clones](https://raw.githubusercontent.com/{author}/{work}/{branch}/traffic-{repo}/clones.svg)](https://github.com/{author}/{work}/tree/{branch}#-{repo})
[![clones per week](https://raw.githubusercontent.com/{author}/{work}/{branch}/traffic-{repo}/clones_per_week.svg)](https://github.com/{author}/{work}/tree/{branch}#-{repo})
```
